<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="angular1.2.16.min.js"></script>
</head>
<body>
<!-- 	<div ng-controller="AAA" ng-click="show()">
		<p >{{name}}</p>
	</div>
 -->
<input type="text" ng-model="text">
<p>{{text}}</p>
</body>
<script>

    // $timeout指令


    // function AAA($scope,$timeout) {

    // 	$scope.name="aaa";

    // 	$timeout(function () {
    // 		$scope.name="bbb";
    // 	},2000);

    // 	$scope.show=function () {
    // 		$scope.name ="ccc"
    // 	}
    // }


</script>
</html>