<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular1.5.8.min.js"></script>
</head>
<body>
<div ng-controller="AAA" id="parent">
    <input type="text" ng-model="name">
    <textarea name="" id="" cols="30" rows="10" ng-model="body"></textarea>
    <p>{{showText}}</p>

</div>
</body>
<script>

    var m1 = angular.module("myapp", []);

    // $interpolate服务是插值服务的方式,插值计算

    m1.controller("AAA", ["$scope", "$interpolate",
        function ($scope, $interpolate) {

        $scope.$watch('body',function (newBody) {
            if(newBody){
                var temp=$interpolate(newBody)
                $scope.showText=temp({name:$scope.name})
            }
        })

        }])
</script>
</html>
